@import "tailwindcss";
@theme {
  /* Colors */
  --color-dark-1: #383624;
  --color-dark-2: #282617;
  --color-primary: #3f3b00;
  --color-accent: #f8c031;
  --color-accent-2: #fcd256;
  --color-panel: #e1dec7;
  --color-bubble-other: #aca788;
  --color-danger: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
}
:root {
  /* Colors */
  --color-dark-1: #383624;
  --color-dark-2: #282617;
  --color-primary: #3f3b00;
  --color-accent: #f8c031;
  --color-accent-2: #fcd256;
  --color-panel: #e1dec7;
  --color-bubble-other: #aca788;
  --color-danger: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Layout */
  --box-shadow: 5px 5px var(--color-black);
  --thick-border: 0.25rem solid var(--color-black);
  --radius-lg: 1rem;
  --radius-md: 0.7rem;
  --radius-sm: 0.5rem;

  /* Fonts */
  --font-caprasimo: "Caprasimo", cursive;
  --font-roboto-slab: "Roboto Slab", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: calc(10px + 0.3vw);
  font-family: var(--font-roboto-slab);
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)
    ),
    url("../assets/bg-pattern-dark.png");
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 130rem;
}

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-family: var(--font-caprasimo);
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: var(--color-primary);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 1rem !important;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
}
