/* ========================================================= */
/* 컨테이너 스타일 */
/* ========================================================= */
.room-container {
  max-width: 50rem; /* 너비 확장 */
  min-height: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(var(--color-dark-1), var(--color-dark-2));
  border-radius: var(--radius-lg);
  border: var(--thick-border);
  box-shadow: var(--box-shadow);
  position: relative;
  display: flex; /* 내부 요소 정렬을 위해 flex 사용 */
  flex-direction: column;
}

/* ========================================================= */
/* 방 목록 (ul) 스타일 */
/* ========================================================= */
.room-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;

  flex-grow: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ========================================================= */
/* 각 방 항목 스타일 */
/* ========================================================= */
.room-list li {
  padding: 0.25rem 0;
}

/* ========================================================= */
/* 방 버튼 스타일 */
/* ========================================================= */
.room-list .room-btn {
  width: 99%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-white);
  border-radius: var(--radius-lg);
  color: var(--color-primary);
  transition: background-color 0.2s, border-color 0.2s;
  border: var(--thick-border);
  box-shadow: var(--box-shadow);
}

.room-list .room-btn:hover {
  background-color: var(--color-accent);
}

.room-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-primary);
}

.room-count {
  font-size: 0.9rem;
  color: var(--color-accent);
}

/* 꽉 찬 방 스타일 */
.room-list li.full .room-btn {
  background-color: #ff0101;
  border-color: var(--color-black);
  box-shadow: var(--box-shadow);
  cursor: not-allowed;
  opacity: 0.7;
}

.room-list li.full .room-btn:hover {
  background-color: #8b000040;
}

/* ========================================================= */
/* 방 생성 버튼 컨테이너
/* ========================================================= */
.btn-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  text-align: center;
  border-top: var(--thick-border);
}

.btn-container button {
  cursor: pointer;
  font-family: var(--font-caprasimo);
  font-size: 1rem;
  border-radius: var(--radius-lg);
  border: var(--thick-border);
  box-shadow: var(--box-shadow);
}
.btn-container button#makeRoom {
  flex-grow: 9;
  background: var(--color-accent);
}

.btn-container button#reload {
  flex-grow: 1;
  background: var(--color-white);
}

.btn-container button#reload span {
  font-size: 2rem;
}

.btn-container button#makeRoom:hover {
  background: #ff0000;
  color: var(--color-white);
}

