@import "tailwindcss";
@theme {
  /* Colors */
  --color-dark-1: #383624;
  --color-dark-2: #282617;
  --color-primary: #3f3b00;
  --color-accent: #f8c031;
  --color-accent-2: #fcd256;
  --color-panel: #e1dec7;
  --color-bubble-other: #aca788;
  --color-danger: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
}