/* ========================================================= */
/* 채팅창 */
/* ========================================================= */
#log {
  flex: 8;
  overflow-y: auto;
  /* max-width: 20rem; */
  color: var(--color-primary);
  list-style: none;
}
#log::-webkit-scrollbar {
  width: 1px;
}

#log::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-2);
  border-radius: 1px;
}

#log::-webkit-scrollbar-track {
  background-color: none;
}
#log small {
  margin: auto 0.2rem 0.2rem 0.2rem;
  color: var(--color-white);
}
#log li {
  padding: 0.2rem;
}
#log li.me {
  display: flex;
  justify-content: flex-start;
}

#log li p.me {
  font-weight: bold;
  border-radius: 0.8em 0.8em 0.8em 0;
  border: 0.2rem solid var(--color-black);
  padding: 0.4em;
  background-color: var(--color-accent-2);
  color: #333;
  max-width: 80%;
  padding: 0.4em;
  margin: 0;
}

#log li.other {
  display: flex;
  justify-content: flex-end;
}

#log li.other p {
  font-weight: bold;
  border-radius: 0.8em 0.8em 0 0.8em;
  border: 0.2rem solid var(--color-black);
  padding: 0.4em;
  background-color: var(--color-bubble-other);
  max-width: 80%;
  color: #333;
  margin: 0;
}

#log li.system {
  justify-content: center;
}

#log li.system p {
  background-color: transparent;
  color: #f1f1f1;
  text-align: center;
  margin: 0;
}

#messages-container {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  height: 20rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(var(--color-dark-1), var(--color-dark-2));
  border-radius: var(--radius-lg);
  border: var(--thick-border);
  box-shadow: var(--box-shadow);
}

#messages-container button {
  width: 4rem;
  border: none;
  margin-left: 1.5rem;
  background-color: var(--color-accent-2);
  border-radius: 0.25rem;
  color: var(--color-dark-1);
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: var(--thick-border);
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
#messages-container input {
  margin: 0;
  font: inherit;
  font-size: 0.9rem;
  width: 84%;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  color: var(--color-white);
  border-radius: 0.5rem;
  border: var(--thick-border);
  background-color: #46432f;
  text-align: left;
}
#messages-container input:focus {
  border-color: none;
}
