/* ========================================================= */
/* 플레이어 프로필 */
/* ========================================================= */

#players-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10rem;
  z-index: 100;

  margin: 0;
  padding: 1.5rem 1rem;
}

#players {
  display: flex;
  flex-direction: column;
}

#players li {
  display: flex;
  align-items: center;
}
.player span {
  font-size: calc(1.5rem + 1vw);
  border: var(--thick-border);
  margin-right: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 100%;
  background-color: var(--color-white);
}
.player small {
  color: var(--color-black);
}
.player.highlight span {
  background-color: #d021f3;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}